body {
  background-color: #1e1e2f;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

h1 {
  text-align: center;
  color: #bb86fc;
  margin-bottom: 20px;
}

h2 {
  color: #bb86fc;
  margin-bottom: 10px;
}

h3 {
  color: #bb86fc;
  margin-bottom: 5px;
}

.container {
  background-color: #282845;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  max-height: 90vh;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

input[type="number"],
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #bb86fc;
  border-radius: 5px;
  background-color: #1e1e2f;
  color: #e0e0e0;
  box-sizing: border-box; /* Ensure padding and border are included in the element's width */
}

button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #1e1e2f;
  border: none;
  border-radius: 5px;
  color: #bb86fc;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-sizing: border-box; /* Ensure padding and border are included in the element's width */
}

button:hover {
  background-color: #1e1e2f
}

pre {
  background-color: #1e1e2f;
  color: #e0e0e0;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
  white-space: pre-wrap;
  box-sizing: border-box; /* Ensure padding and border are included in the element's width */
}
